server:
  port: 8401

spring:
  application:
    name: cloudalibaba-sentinel-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
    sentinel:
      transport:
        dashboard: localhost:8080   #sentinel dashboard地址
        port: 8719  #默认端口为8719，找不到则依次+1扫描



management:
  endpoints:
    web:
      exposure:
        include: '*'
