server:
  port: 8001

spring:
  application:
    name: cloud-payment-service
  zipkin:
    base-url: http://localhost:9411
  sleuth:
    sampler:
      probability: 1
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/springcloud
    username: root
    password: 20181024

mybatis:
  type-aliases-package: com.atguigu.springcloud.entity
eureka:
  client:
    service-url:
      defaultZone: http://localhost:7001/eureka,http://localhost:7002/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    instance-id: payment8001    #用于修改注册中心展示栏中STATUS的服务名称
    prefer-ip-address: true   #访问路径可以显示IP地址
